_blogs/**/*.png
_blogs/**/*.jpg
_blogs/**/*.json
_blogs/**/*.csv
_blogs/**/*.parquet
_blogs/**/*.ipynb_checkpoints
_blogs/**/*.mp4
_blogs/**/*.mkv
_blogs/**/*.avi
code/**/*.pt
code/**/*.pth
code/**/*.mp4
code/**/*.mkv