header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

.header__contact {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
}

/* max width of 300px */
@media screen and (max-width: 800px) {
    header {
        grid-template-columns: 1fr;
        gap: 0;
    };
}