main {
    display: grid;
    grid-template-rows: auto;
}

.main__about {

}

.about__gallery {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.about__gallery__image {
    width: 100%;
    height: 100%;
    max-height: 200px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1.0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.about__gallery__image .about__gallery__image__text {
    color: white;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.2s ease;
    transition: transform 0.2s ease;
    z-index: 2;
}

.about__gallery__image:hover .about__gallery__image__text {
    opacity: 1;
    transform: scale(1.05);
}

.about__gallery__image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1;
}

.about__gallery__image:hover::before {
    opacity: 1;
}

.about__gallery__image--phenocam {
    background-image: url("../images/pheno_cam_field.jpg");
}

.about__gallery__image--biocam {
    background-image: url("../images/biocam.png");
}

.about__gallery__image--coffee {
    background-image: url("../images/kona_heatmap.png");
}

.about__gallery__image--biolength {
    background-image: url("../images/biolength.jpeg");
}

.about__gallery__image--stereofish {
    background-image: url("../images/stereo_fish.png");
}

.about__gallery__image--megalab {
    background-image: url("../images/megalab.png");
}

.about__gallery__image--passage {
    background-image: url("../images/passage.png");
}

.about__gallery__image--spectrograms {
    background-image: url("../images/spectrograms.png");
}

.about__gallery__image--deepfish {
    background-image: url("../images/deep_fish.png");
}

.notebooks {
    /* border-radius: 10px;
    border: 1px solid #ccc;
    max-height: 800px;
    overflow: scroll; */
}

.notebooks > .notebook:nth-child(odd) {
    background-color: #f9f9f9;
}

.main__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.notebook {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-style: normal;
    text-decoration: none;
    color: #000;
    position: relative;
    box-sizing: border-box;
    padding: 16px 10px;
}

.notebook:hover {
    background-color: aliceblue !important;
}

.notebook > h4 {
    margin: 0px;
}

.notebook > span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-variant: all-small-caps;
    font-size: 14px;
    text-wrap: nowrap;
}

.notebook > p {
    margin-top: 10px;
}

.notebook > h3 {
    margin: 0px;
}

.others {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.others > a {
    font-style: normal;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 33%;
    padding: 10px;
    border-radius: 5px;
}

.others > a:hover {
    background-color: aliceblue;
}

@media screen and (max-width: 700px) {
    .about__section {
        margin-top: 40px;
        gap: 16px;
        grid-template-columns: 1fr;
    }

    .about__image--phenocam {
        grid-row-start: 1;
    }

    .about__image--coffee {
        grid-row-start: 1;
    }
}