main {
    display: grid;
    grid-template-rows: auto;
}

.main__about {

}

.about__section {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.about__image {
    width: 100%;
    height: 100%;
    max-height: 300px;
    border-radius: 40px;
    border: 1px solid #ccc;
    background-size: cover;
    background-position: center;
}

.about__image--phenocam {
    aspect-ratio: 1.78;
    background-image: url("../images/pheno_cam_field.jpg");
}

.about__image--biocam {
    aspect-ratio: 1.33;
    background-image: url("../images/biocam.png");
}

.about__image--coffee {
    aspect-ratio: 1;
    background-image: url("../images/kona_heatmap.png");
}

.main__notebooks {
    
}

.main__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.notebook {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    text-decoration: none;
    color: #000;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}

.notebook:hover {
    background-color: #eee;
}

.notebook > h4 {
    margin: 0px;
}

.notebook > span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-variant: all-small-caps;
    font-size: 14px;
}

.notebook > p {
    margin-top: 10px;
}

.notebook > h3 {
    margin: 0px;
}